* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-transform: capitalize;
  background-color: #000;
  font-family: sans-serif;
  text-decoration: none;
}

.grandfather {
  border-radius: 15px;
  width: 70%;
  height: 85vhpx;
  background: #fff;
  margin: auto;
  margin-top: 75px;
}
.father {
  text-align: center;
  padding-top: 10px;
  justify-content: center;
}

.myp {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #18081f;
}

.title {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 0px;
  display: block;
  font-weight: bolder;
  font-size: 15px;
  cursor: default;
  text-align: center;
}

.title img {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: default;
}
.father2 {
  text-align: center;
  margin-top: 30px;
  background: lightgray;
  display: block;
}
.father2 a img::selection {
  background-color: rgb(182, 177, 177);
}

.father2 a:hover {
  background-color: lightgray;
}
.father2 img {
  width: 60px;
  height: 60px;
  padding: 5px;
  overflow: hidden;
  border-radius: 20px;
}
/* .editbtn {
  top: 80px;
  left: 66px;
  position: absolute;
  margin-left: 190px;
}
button {
  border: 2px solid black;

  padding: 5px;
  background-color: #fff;
  border-radius: 15px;

  cursor: pointer;
}
.editbtn a {
  text-decoration: none;
  color: #000;
  padding-right: 15px;
  background-color: #fff;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.editbtn a:hover {
  color: #000000;
  background-color: #fff;
}
.editbtn a img {
  display: block;
  position: absolute;

  width: 20px;
  height: 18px;
  right: 3px;
  top: 6px;
} */
.subtitle {
  margin-top: 10px;
  border-bottom: 5px solid lightgray;
  font-weight: bold;
}
a:hover {
  background: lightblue;
  color: #fff;
}
.downpage {
  text-align: center;
  font-weight: bolder;
}

.jn {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  text-align: center;
}
.jn a {
  border: 2px solid black;
  padding: 5px;
  text-decoration: none;
  color: #000;
  border-radius: 10px;
}
.jn a:hover {
  scale: 90%;
  color: #fff;
  background-color: #000;
}
.prof {
  position: absolute;
}
.prof a {
  margin-left: 177px;
  border: 2px solid #000;
  padding: 5px;
  border-radius: 15px;
  padding-right: 13px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.prof a img {
  position: absolute;
  width: 15px;
  margin-top: 0px;
  height: 18px;
}
.prof a:hover{
  color: #000;
  background-color: #fff;
}
