* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: lightblue;
}

div {
  text-align: center;
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.6);
}
a {
  padding: 5px 10px;

  border: none;
  border-radius: 20px;

  background: black;
  cursor: pointer;
  text-decoration: none;

  color: #fff;
}
a:hover {
  color: black;
  background: white;
  padding: 5px 10px;

  border: none;
  border-radius: 20px;
}

ul {
}
li {
  margin-top: 5px;
  display: inline-block;
  padding: 5px 10px;
}
.home {
  color: black;
  background: white;
  padding: 5px 10px;

  border: none;
  border-radius: 20px;
}
.sp{
  color: #c21a1a;
}
@media (max-width: 350px) {
  body {
    background: red;
    display: none;
  }
}

@media (orientation: portrait) {
  body {
    background: yellow;
  }
}
